
body {
   font-size: 16px;
   color: #2b283a;
   font-family: "roboto", sans-serif;
   font-weight: 400;
   margin: 0;
}

 header {
    background-color: #5f29a3;
    padding: 45px 0;
 }
 
 h1{
    font-size: 36px;
    color: whitesmoke;
    margin: 0;
 }

  h2{
    margin-top: 0;
 }
 
 h3{
    font-size: 20px;
    color: #d0aaff;
    margin: 0px;
 }

  a {
    color: #ef5839;
    text-decoration: dotted underline;
}
a:active,
a:hover{
   color: #d4b44c;
   text-decoration: dotted underline;
}
 
 section{
    padding: 45px 0;
 }

 #sneakers {
    width: 100%;
 }

